@font-face {
  font-family: 'Virgil';
  src: url('./assets/fonts/Virgil.woff2');
  font-display: swap;
}
body {
  margin: 0;
  font-family: -apple-system, Virgil fantasy ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
